@import "functions";/* file: _functions.scss, must be attached first*/
@import "variables";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

@include google-font("Source+Sans+Pro");

body {
	font-family: $header-text-font;
}

header{
	padding-left: 0 !important; padding-right: 0 !important; 
	a#back {
		text-decoration: none;
		color: #fff;
		&:hover{color: #777;}
		.fa {
			font-size: 60px;
			vertical-align: middle;
		}
		.letter{
			font-size: 32.7px; 
			font-weight: 400;
			vertical-align: middle;
			 }
		position: absolute;
		top: 10%;
		left: 1%;
	}
	div#top-header {
		@include xs-screens {
			margin: 0 auto;
      max-width: 768px;
		}
		margin-left: auto; 
		margin-right: auto;
		color: $deep_blue_violet;
		h1 {font-weight: 900;}
		@include small-xs-screens {
		 
		}
		div#follow-group {
			border-bottom: 2px solid $deep_blue_violet;
			padding-top: 25px;
			padding-bottom: 45px;
			a{
				text-decoration: none;
				color: $deep_blue_violet;
				font-size: 25px;
				font-weight: bold;
			}
			i#minus{display: none;}
			div#follow-links{
				padding-top: 30px;
				padding-left: 30px;
				display: none;
				.fa {
					font-size: 50px;
				}
			}
		}
		div.stats {
			h5 {font-weight: 900;}
			text-align: center;
			border-bottom: 2px solid $deep_blue_violet;
			padding-top: 40px;
			padding-bottom: 40px;
			@include xs-screens {
				h5{
				font-size: 25px;
				}
			}
			@include xs-xs-screens {
				h5{
				font-size: 21px;
				}
			}
			@include small-xs-screens {
				h5{
				font-size: 14px;
				}
			}			
		}	 	
	}
}